<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>${title}</title>
<link rel="stylesheet" href="${relRoot}/css/default.css"/>
<link rel="stylesheet" href="${relRoot}/css/default-markdown.css"/>
<link rel="stylesheet" href="${relRoot}/css/default-highlight.css"/>
${cssLinks}
</head>
<body>

<header style="background-image:url('${cover}')">
	<div class="title-baseline">
		<div class="title">${siteTitle}</div>
		<div class="baseline">${siteBaseLine}</div>
	</div>
</header>

<div class="columns">
	
	<nav>
		${nav}
		
		<footer>
			<section class="copyright">
				© ${copyrightYear} <a href="${copyrightLink}">${copyright}</a> • All rights reserved.
			</section>
			
			<section class="poweredby">Proudly powered by <a href="${poweredByLink}">${poweredBy}</a></section>
		</footer>
	</nav>
	
	<main>
		${contents}
	
		<aside>
			${asideContent}
		</aside>
	</main>
</div>

${jsScripts}

</body>
</html>
