<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>${title}</title>
<link rel="stylesheet" href="/css/default.css"/>
<link rel="stylesheet" href="/css/default-markdown.css"/>
<link rel="stylesheet" href="/css/default-highlight.css"/>
${cssLinks}
</head>
<body>

<a href="${urlRootPath}">
	<header style="background-image:url('${cover}')">
		<div class="title-baseline">
			<div class="title">${siteTitle}</div>
			<div class="baseline">${siteBaseLine}</div>
		</div>
	</header>
</a>

<div class="columns">
	
	<div class="sider">
		<nav>
		{{$navLinks}}
			{{$url}}<a href="$">{{/}}
			<div class="menu-item{{$indent}} indent-${{/}}">{{$iconHtml}}$ {{/}}${text}</div>
			{{$url}}</a>{{/}}
		{{/}}
		</nav>
		
		<footer>
			<section class="copyright">
				© ${copyrightYear} <a href="${copyrightLink}">${copyright}</a> • All rights reserved.
			</section>
			
			<section class="poweredby">Proudly powered by <a href="${poweredByLink}">${poweredBy}</a></section>
		</footer>
	</div>
	
	<main class="${pageType}">
		<nav>{{$contextNavLinks}}${{/}}</nav>
		
		<h1 class="page-title">${pageTitleIcon} ${pageTitle}</h1>
		
		${contentList}[enum:$#]
		
		<nav>{{$contextNavLinks}}${{/}}</nav>
		
		<aside>
			${asideContent}
		</aside>
	</main>
</div>

${jsRawScripts}
${jsScripts}

</body>
</html>
