<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>${title}</title>
<link rel="stylesheet" href="${relRoot}/css/default.css"/>
<link rel="stylesheet" href="${relRoot}/css/default-markdown.css"/>
<link rel="stylesheet" href="${relRoot}/css/default-highlight.css"/>
${cssLinks}
</head>
<body>

<header>
	<div class="title-baseline">
		<div class="title">${siteTitle}</div>
		<div class="baseline">${siteBaseLine}</div>
	</div>
</header>

<div class="columns">
	
	<nav>
		${nav}
	</nav>
	
	<main>
		${contents}
	
		<aside>
			${asideContent}
		</aside>
	</main>
</div>


${jsScripts}

</body>
</html>
